.locationPickerContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
  margin: auto;
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.inputField:focus {
  border-color: #007bff;
}

select.inputField {
  cursor: pointer;
}
