# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.qodo

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Misc
*.cache
