@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&family=Roboto:wght@300&display=swap");

body {
  background-color: #fbfaf8;
  user-select: none;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  grid-template-areas:
    "main"
    "nav";
  grid-template-rows: 90% 20%;

  @apply grid;
}

header {
  grid-area: header;
  @apply bg-[#3d1144] text-[#fbfcfc] text-center;
}

header h3 {
  @apply mt-13 font-bold;
}

main h3 {
  @apply text-center p-2.5 font-bold text-[18px];
}

nav {
  grid-area: nav;
  @apply bg-[f9fdf9] rounded-[10px] w-[95%] m-auto;
}

.nav-btn-box {
  @apply max-w-[390px] my-0 mx-auto flex justify-around h-10;
}

.nav-btn {
  @apply h-full w-full rounded-[5px] flex justify-center items-center;
}

.nav-btn .btn {
  @apply text-[1.8rem] text-[#dbdfea];
}

.nav_active {
  @apply text-[purple];
}

.details_wrapper {
  @apply flex flex-col px-2;
}

.details_title_wrapper {
  @apply flex items-center;
}

.details_title {
  @apply text-xl;
}

.details_description {
  @apply text-base;
}

main {
  grid-area: main;
}

/* Home Page */
.user {
  @apply max-w-[390px] h-[15vh] my-2.5 mx-auto flex justify-center items-center;
}

.name {
  @apply w-[98%] h-[14vh] rounded-[12px] bg-[#f7f7f7] border border-[#eee];
}

.name h1 {
  @apply p-2.5 text-[32px] font-bold;
}

.weather {
  @apply max-w-[390px] h-[25vh] my-2.5 mx-auto flex justify-around items-center;
}

.temperature {
  @apply flex flex-col gap-[5px];
}

.temperature_child {
  @apply p-[5px];
}

.announce {
  @apply h-[30vh] max-w-[360px] my-2.5 mx-auto rounded-[10px] border border-[#eee] bg-[#f7f5f2] p-[5px];
}

.announce h3 {
  @apply mb-[7px] text-center text-[1.8rem];
}

.announcement {
  @apply text-center  p-[5px];
}

.announcement p {
  @apply text-[1.2rem];
}

.time {
  @apply text-end p-[5px];
}
/* end-Home Page */

/* Forms Page */
.content {
  @apply bg-[white] max-w-[390px] p-2 my-2.5 mx-auto grid grid-cols-2 gap-2.5;
}

.tile {
  @apply bg-[#f7f5f2] rounded-[10px] my-0 px-1.5 mx-auto border border-[#eee] relative;
}

.tile h4 {
  @apply mt-[9px] text-center font-[0.9rem];
}

.tile p {
  @apply text-[0.8rem] p-0.5 text-center m-0 text-[#6b728e];
}

.form_link {
  @apply no-underline text-inherit;
}

.form_cover {
  @apply absolute z-10 inset-0 cursor-pointer;
}

.ico-color {
  @apply bg-[#d33b9f] bg-linear-[to_right,#d33b9f_17%,#ab38c9_59%] bg-clip-text text-transparent text-3xl;
}

/* End-Forms Page */

/* Work Page */
.grid-container {
  @apply max-w-[390px] h-4/5 my-2.5 mx-auto grid grid-cols-3 gap-[5px] p-2.5;
}

/* background-image: linear-gradient(to right, #e39dcb, #e6a9d1, #eab6d8, #edc2de, #f0cee4); */

.item:nth-of-type(1) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 pt-2 col-span-2;
}
.item:nth-of-type(2) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 pt-2;
}
.item:nth-of-type(3) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 pt-2;
}

.item:nth-of-type(4) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 pt-2 col-span-2;
}

.item:nth-of-type(5) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 pt-2 col-span-2;
}

.item:nth-of-type(6) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 pt-2;
}

.item:nth-of-type(7) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 pt-2;
}

.item-heading {
  @apply my-0.5 text-base font-bold text-[#3b3b3b];
}

.item-des {
  @apply p-[5px] text-xs text-[#505050];
}

.item-icon {
  @apply text-[35px] bg-[#d33b9f] bg-linear-[to_right,#d33b9f_17%,#ab38c9_59%] bg-clip-text text-transparent;
}
/* End Work Page */

/* Announce Tab Start */

.announcement-container {
  @apply h-4/5 m-2.5;
}

.announcement {
  @apply my-2.5 mx-auto max-w-[390px] border bg-[#f7f5f2] border-[#eeeeee] rounded-[10px];
}

.announcement-heading {
  @apply text-[17px] mt-0.5 mx-auto mb-2.5 font-bold;
}

.announcement-content {
  @apply text-[14px] text-[#505050];
}

/* announce tab end */
/* Resource Page Start */
.resource-grid {
  @apply max-w-[390px] h-4/5 my-2.5 mx-auto grid grid-cols-3 gap-[5px] p-2.5;
}

.resource-box:nth-of-type(1) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 col-span-2;
}

.resource-box:nth-of-type(2) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2;
}

.resource-box:nth-of-type(3) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2;
}

.resource-box:nth-of-type(4) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 col-span-2;
}
.resource-box:nth-of-type(5) {
  @apply bg-[#f7f5f2] border border-[#eee] pl-2 col-span-3;
}

.contentWR {
  @apply bg-[white] max-w-[390px] h-[60vh] my-2.5 mx-auto flex flex-wrap;
}

/* Resource Page End */
.no-underline {
  @apply no-underline;
}

.detail-box {
  @apply max-w-[390px] h-[calc(100vh-100px)] items-center my-2.5 mx-auto flex flex-wrap bg-[#f7f5f2] border border-[#eee] rounded-[10px] p-[15px];
}

.extraPaddingandInline {
  @apply p-2.5 inline-block;
}

/* Shahrear Extra Code 

Remove the userInput.module.css file to native code file. */

.userInputContainer {
  @apply flex flex-col items-center gap-[15px] p-[5px] bg-[#fff] rounded-[10px] max-w-[400px] m-auto shadow;
}

.inputGroup {
  @apply w-full;
}

label {
  @apply block text-[14px] mb-[5px] font-bold text-[#333];
}

.inputField {
  @apply w-full p-2.5 border border-[#ccc] rounded-[5px] text-base;
}

.submitButton {
  @apply bg-[#007bff] text-white py-2.5 px-5 border-none rounded-[5px] cursor-pointer text-base transition ease-in duration-300;
}

.submitButton:hover {
  @apply bg-[#0056b3];
}

.locationPickerContainer {
  @apply flex flex-col gap-2 max-w-[300px] m-auto;
}

.inputField {
  @apply w-full p-2.5 border border-[#ccc] rounded-[5px] text-base outline-none duration-300;
}

.inputField:focus {
  @apply bg-[#007bff];
}

select.inputField {
  @apply cursor-pointer;
}
